:root {
  --color-mainbg: #142d4c;
  --color-text: #385170;
  --color-primary: #9fd3c7;
  --color-secondary: #118a7e;
  --color-accent: #3baea0;
  --color-border: #93e4c1;
  --color-successbg: #55e0a3;
  --color-successtext: #0b8457;
  --color-warningbg: #fcff89;
  --color-warningtext: #ffcc00;
  --color-alertbg: #ff5656;
  --color-alerttext: #cd0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background-color: olive;
  color: #333;
  scroll-behavior: smooth;
}
