.pageWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bggradient);
  padding: 1rem;
}

.content {
  max-width: 460px;
  width: 100%;
  background: var(--color-mainbg);
  border-radius: 18px;
  padding: 2.5rem 2.5rem 3.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
  user-select: none;
}

.heading {
  font-weight: 800;
  font-size: 2.7rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
