.layout {
  display: flex;
  height: 100vh;
  background: #f0f2f5;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.content {
  flex: 1;
  padding: 0.5rem;
  overflow: auto;
  /* width: 100vh; */
  background-color: var(--color-dark);
}
