.userContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.userMain {
  flex: 1;
  padding:1rem;
  margin-top: 60px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  main {
    margin-top: 70px;
    padding: 1rem;
  }
}
