.userContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.userMain {
  flex: 1;
  padding: 2rem 1rem; /* general padding for inner spacing */
  margin-top: 60px; /* equal to your navbar height */
  box-sizing: border-box;
}

@media (max-width: 600px) {
  main {
    margin-top: 70px;
    padding: 1rem;
  }
}
